.login {
    margin: 150px auto 0;
    width: 470px;
    text-align: center;
    padding: 100px;
    background-color: var(--paletteColor6);

    & button {
        font-size: 22px;
        transition: background-color 0.2s ease-in;
        border: 0;
        border-radius: 2px;
        outline: 0;
        background-color: var(--paletteColor5);
        color: var(--paletteColor2);
        letter-spacing: 1px;
        cursor: pointer;
        padding: 25px;

        &:hover {
            background-color: var(--paletteColor7);
        }
    }

    & p {
        font-size: 17px;
        margin-top: 20px;
        color: var(--paletteColor2);
    }
}
