.feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: var(--paletteColor3);
    padding-top: 20px;

    & .postInStart {
        transform: scale(0.5);
        opacity: 0.01;
    }

    & .postInEnd {
        transform: scale(1);
        transition: opacity 500ms var(--cubic1), transform 500ms var(--cubic1);
        opacity: 1;
    }

    & .postOutStart {
        transform: scale(1);
        opacity: 1;
    }

    & .postOutEnd {
        transform: scale(0.5);
        transition: opacity 400ms var(--cubic2), transform 400ms var(--cubic2);
        opacity: 0.01;
    }
}
